/* .index-body
{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.index-body .index-messi
{
    position: absolute;
    bottom: 10px;
    background-color: rgb(221, 1, 221, 0.15);
    width: 300px;
    height: 300px;
    border: solid 5px;
    border-style: dashed;
    border-color: rgb(0, 0, 0, 0.8);
}

.index-body .hero .index-messi p
{
    font-size: 35px;
    color: rgb(255, 255, 255, 1);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.index-header
{
    background-color: rgba(255, 102, 0, 0.6);
}

.index-header .index-content
{

}

.index-header h1
{
    color: white;
    margin-left: 20px;
}

.index-header .index-content nav
{


}

.index-header .index-content ul
{
    margin-left:56vw;
}

.index-header .index-content ul li
{
    list-style: none;
    margin-right: 35px;
}

.index-header .index-content ul li a
{
    text-decoration: none;    
    color: white;
    font-size: 18px;
}

.index-header .index-content ul li a:hover
{
    color: rgb(0, 225, 255);
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s color;
    cursor: pointer;
}

.index-footer
{
    background-color: rgba(255, 102, 0, 0.6);
    position: relative;
    bottom: 0;
}

.index-body .hero
{
   dd background: #333; dd
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.index-body .hero .video-bg
{
    position:fixed;
    z-index: -1;
    height: 120vh;
}

.index-body .hero h2
{
    position: absolute;
    top: 30px;
    
}

.index-footer .p1
{
    color: white;
}

@media screen and (max-width: 800px)
{
}
*/
.index-body
{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 0;
}

.index-body .index-main .index-messi
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 1, 221, 0.15);
    width: 300px;
    height: 300px;
    border: solid 5px;
    border-style: dashed;
    border-color: rgb(0, 0, 0, 0.8);
    margin-top: 325px;
}

.index-body .index-main .index-messi p
{
    font-size: 35px;
    color: rgb(255, 255, 255, 1);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.index-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.index-body .index-header
{
    display:flow-root;
    background-color: rgba(255, 102, 0, 0.6);
}

.index-body .index-header .index-navbar
{
    display: flex;
    justify-content: right;
    padding: 15px;
    margin-right: 20px;
}

.index-body .index-header .index-navbar a
{
    margin: 25px;
    text-decoration: none;    
    color: white;
    font-size: 18px;
}

.index-body .index-header .index-navbar a:hover
{
    color: rgb(0, 225, 255);
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s color;
    cursor: pointer;
}

.index-body .index-header h1
{
    position: absolute;
    bottom: 91%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

.index-footer
{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 102, 0, 0.6);
    position: absolute;
    bottom: 0;
    min-width: 100%;
}

.index-footer .p1
{
    color:  white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.index-body .index-main .hero .video-bg
{
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.index-body .index-main section
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;
}

@media screen and (max-width: 910px)
{
    .index-body .index-header
    {
        flex-direction: column;
    }

    .index-body .index-header h1
    {
        position: inherit;
        margin-right: 0;
    }
}





